{% block content %}
    <div class="content">
        <div class="error_message">
            {{ error_message }}
        </div>
        <a class="btn" href="{{ back_url }}">
            Назад
        </a>
    </div>
{% endblock content %}