{% block content %}
    {% for file in files %}
        <a href="/{{ file.url }}">{{ file.name }}</a>
        <a href="/download/{{ file.url }}">Download</a>
        <a href="/delete/{{ file.url }}">Delete</a>
    {% endfor %}
{% endblock %}