{% block navbar %}
<div class="navbar navbar-toggleable-lg navbar-inverse bg-inverse   ">
    <div class="navbar-header col-lg-3">
        <a class="navbar-brand" href="/">Super Awesome JSON Storage</a>
    </div>
    <ul class="navbar-nav col-lg-9">
        <li class="nav-item col-lg-4"><a class="navbar-link" href="/upload">Добавить файл</a></li>
        <li class="nav-item col-lg-4"><a class="navbar-link" href="/">Публичные данные</a></li>
        <li class="nav-item col-lg-4"><a class="navbar-link" href="/private">Приватные данные</a></li>
    </ul>
</div>
{% endblock %}